.App {
  text-align: center;
}

.title {
  font-weight: 800;
}

.subTitle {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .gridss {
    display: grid;
    grid-template-columns: 1fr!important;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(221, 175, 157);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
